interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helpscout.net/v1/customers/144228647.json
  response:
    body: {string: !!python/unicode '{"item":{"id":144228647,"firstName":"Test","lastName":"User","fullName":"Test
        User","photoUrl":null,"photoType":null,"gender":"male","age":null,"organization":"Test
        Company","jobTitle":"CEO","location":null,"createdAt":"2017-09-23T20:12:43Z","modifiedAt":"2017-10-28T17:21:12Z","background":"This
        is a basic test user","address":null,"socialProfiles":null,"emails":[{"id":191676921,"value":"test@example.com","location":"work"}],"phones":[{"id":198059533,"value":"1234567890","location":"work"}],"chats":null,"websites":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [83eeded5-611e-4ddb-8d91-10e9db5880aa#17467843]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['12']
      x-ratelimit-remaining-minute: ['199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.helpscout.net/v1/customers/144228647.json
  response:
    body: {string: !!python/unicode '{"item":{"id":144228647,"firstName":"Test","lastName":"User","fullName":"Test
        User","photoUrl":null,"photoType":null,"gender":"male","age":null,"organization":"Test
        Company","jobTitle":"CEO","location":null,"createdAt":"2017-09-23T20:12:43Z","modifiedAt":"2017-10-28T17:21:12Z","background":"This
        is a basic test user","address":null,"socialProfiles":null,"emails":[{"id":191676921,"value":"test@example.com","location":"work"}],"phones":[{"id":198059533,"value":"1234567890","location":"work"}],"chats":null,"websites":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      correlation-id: [9298a7c0-93dd-4777-b0a4-47c83bfae739#17131964]
      x-ratelimit-interval-burst: ['5']
      x-ratelimit-interval-minute: ['60']
      x-ratelimit-limit-burst: ['12']
      x-ratelimit-limit-minute: ['200']
      x-ratelimit-remaining-burst: ['12']
      x-ratelimit-remaining-minute: ['198']
    status: {code: 200, message: OK}
version: 1
